@font-face {
  font-family: IndieFlowerRegular;
  src: url("./asset/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("./asset/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./asset/Roboto-Bold.ttf");
}
body {
  font-family: IndieFlowerRegular, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: 900;
  font-size: 40px;
}

.refresh{
  background-color: white;
  border: none;
  font-size: 20px;
  position: relative;
}
.refresh:active{
  top: 2px
}
/* LOCATION FORM */
.locationform{

  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  margin: 10px;
}
#location{
  border-radius: 5px;
  border: 2px solid rgb(61, 61, 61);
  padding: 2px 5px;
}
/* content */
.weatherdetails {
  position: relative;
  margin: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  border-top: 2px solid grey;
  min-width: 400px;
  min-height: 200px;
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  color: rgb(116, 116, 116);
  font-size: 17px;

}

.location,.tempdegree{
  font-weight: 900;
  font-size: 25px;
  color: black;
}
.tempsymbol{
  vertical-align: top;
  color: black;
}

.sundetails{
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

